# .github/workflows/deploy.yml
name: Release to Maven Central

on:
  push:
    tags:
      - 'v*'    # любое имя тэга, начинающееся на v

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: setup Java and Maven + GPG
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'
          cache: 'maven'
          # подключаем Sonatype OSSRH
          server-id: ossrh
          server-username: ${{ secrets.OSSRH_USERNAME }}
          server-password: ${{ secrets.OSSRH_PASSWORD }}
          # импортируем GPG-ключ для подписи
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Prepare Maven settings
        run: |
#          cat > ~/.settings-security.xml <<EOF
#          ${{ secrets.MAVEN_SETTINGS_SECURITY }}
#          EOF
#
#          # 2) credentials
#          mkdir -p ~/.m2
#          cat > ~/.m2/settings.xml <<EOF
#          ${{ secrets.MAVEN_SETTINGS }}
#          EOF

          mkdir -p ~/.m2
          cat > ~/.m2/settings-security.xml <<'EOF'
          ${{ secrets.MAVEN_SETTINGS_SECURITY }}
          EOF

          cat > ~/.m2/settings.xml <<'EOF'
          ${{ secrets.MAVEN_SETTINGS }}
          EOF

      - name: deploy
        run: mvn -B clean deploy -Prelease -DperformRelease=true